# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude Kucing Notes
kucing_notes.txt
modlist.txt

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack
